<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436799518757-v2199i5kuamtumn2a9rnfcbnunufid5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436799518757-v2199i5kuamtumn2a9rnfcbnunufid5t</string>
	<key>API_KEY</key>
	<string>AIzaSyAzud6JUqGVLKtvnjEdilbi9joRq1QOJXo</string>
	<key>GCM_SENDER_ID</key>
	<string>436799518757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.mrcateam.mrca</string>
	<key>PROJECT_ID</key>
	<string>mrca-ea46d</string>
	<key>STORAGE_BUCKET</key>
	<string>mrca-ea46d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436799518757:ios:016832c0a42056fd9fe7cc</string>
</dict>
</plist>